*{
    padding: 0;
    margin: 0;
}
section{
height: 100vh;
width: 100vw;

background-image:url("covid19-1600x900.jpg")
}
section h1{
    position: absolute;
    color: red;
    top:0;
    left:50%;
}

section h2{

    color:rgb(255, 255, 255);
    position: absolute;
    top:8%;
    left: 37%;
}



section .card__back{
    position: absolute;
    top: 18%;
    left: 10%;
    width:50vh;
    background: rgb(69, 39, 139);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  }
  section .card__back_2{
    position: absolute;
    top: 18%;
    left: 38%;
    width:60vh;
    background: rgb(233, 127, 28);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  }

  section .card__back_3{
    position: absolute;
    top: 18%;
    right: 1%;
    width:60vh;
    background: rgb(253, 240, 59);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  }
  section .card__back_4{
    position: absolute;
    top: 58%;
    left: 10%;
    width:50vh;
    background: rgb(197, 223, 54);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  }

  section .card__back_5{
    position: absolute;
    top: 58%;
    left: 38%;
    width:50vh;
    background: rgb(255, 39, 39);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  }
  section .card__back_6{
    position: absolute;
    top: 58%;
    right:1%;
    width:60vh;
    background: rgb(61, 168, 240);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  }
  .card__name{
    font-size: 30px;
    line-height: 0.9;
    font-weight: 500;
  }
  .card_name span{
    font-size: 15px;
  }
  
  
  
  section .card__total{
    font-size: 40px;
    margin: 0 8px 0 0 ;
    font-weight: 500;
  }
  .card_small{
    font-size: 80px;
  }
  @media (max-width: 700px){
    section .card__total{
      font-size: 14px;
    }
    section{
        height: 100vh;
        width: 100vw;
        overflow-y:hidden;
    }

    section h1{
        position: absolute;
        left:45%;
    }
    section h2{
        width:70vw;
        position: absolute;
        left:20%;
        font-size: 15px;;

    }

    section .card__back{
        width: 60vw;
        max-height: 20vw !important;
        position: absolute;
        top:13%;
        left:22%;

    }
    section .card__back,.card__back_2 ,.card__back_3,.card__back_4, .card__back_5 , .card__back_6    p  span{
        font-size: 15px;
    }
    section .card__back .card_small{
        font-size: 30px;
    }
    section .card__back_2 .card_small{
        font-size: 30px;
    }
    section .card__back_3 .card_small{
        font-size: 30px;
    }
    section .card__back_4 .card_small{
        font-size: 30px;
    }
    section .card__back_5 .card_small{
        font-size: 27px;
    }
    section .card__back_6 .card_small{
        font-size: 25px;
    }
    section .card__back .card__name{
        font-size: 18px;
    }
    section .card__back_2 .card__name{
        font-size: 18px;
    }
    section .card__back_3 .card__name{
        font-size: 18px;
    }
    section .card__back_4 .card__name{
        font-size: 18px;
    }
    section .card__back_5 .card__name{
        font-size: 18px;
    }
    section .card__back_6 .card__name{
        font-size: 18px;
    }



    section .card__back_2{
        width: 60vw;
        position: absolute;
        top:28%;
        left:22%;

    }

    section .card__back_3{
        
            
            width: 60vw;
            position: absolute;
            top:43%;
            left:22%;
    
        
    }

    section .card__back_4{
    
        width: 60vw;
        position: absolute;
        top:60%;
        left:22%;

    }
    section .card__back_5{
        
        width: 60vw;
        position: absolute;
        top:75%;
        left:22%;

    }
    section .card__back_6{
        width: 60vw;
        position: absolute;
        top:88%;
        left:22%;

    }

  }
  @media(max-width:700px){
  .card{
    width: 100%;
    height: 290px;
    margin-right: 0;
    float: none;
  }
  .card .card__inner,
  .card .card__back{
    height: 290px;
  }
  }